<div class="container">
    <div>
        <app-etudiant></app-etudiant>
    </div>
    <div>
        <app-etudiant-paris></app-etudiant-paris>
    </div>
</div>
<div class="container">
    <div>
        <app-specialite></app-specialite>
    </div>
    <div>
        <app-etudiant-hors-paris></app-etudiant-hors-paris>
    </div>
</div>
<div class="container">
    <div>
        <app-form-etudiant></app-form-etudiant>
    </div>
    <div>
        <app-form-specialite></app-form-specialite>
    </div>
</div>